
/*=========公用的CSS==============*/

body {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 12px;
    color: #333;
}

a {
    color: #333;
}

a:hover {
    color: #333;
    text-decoration: none;
}

@font-face {
    font-family: "wjs";
    /*引入字体文件 不同的浏览器支持的字体文件格式不一样*/
    src: url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
        url(../fonts/MiFie-Web-Font.svg) format('svg'),
        url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
        url(../fonts/MiFie-Web-Font.woff) format('woff')
}

/*定义一个字体图标*/

.wjs_icon  {
    font-family: wjs;
}

/*好处是： 可以使用类名的方式来记录
方便*/
.wjs_icon_phone::before {
    content: "\e908";  /*大小可以设置font-size 不会失真， 可以改变颜色, 斜体，加粗*/
    /*color: rebeccapurple;*/
}

.wjs_icon_tel::before {
    content: "\e909";
}


.wjs_icon_logo::before {
    content: "\e920";
}

.wjs_icon_word::before {
    content: "\e93e";
}



/*公用的间距工具*/
.wjs_ml10 {
    margin-left: 10px;
}
.wjs_mr10 {
    margin-right: 10px;
}
.wjs_mt10 {
    margin-top: 10px;
}.wjs_mb10 {
     margin-bottom: 10px;
 }



/*==============模块化的CSS================*/

/*顶部通栏*/
.wjs_header {
    border-bottom: 1px solid #666;
}

.wjs_header > .container {
    height: 40px;
}

.wjs_header > .container > .row > div {
    height: 40px;
    text-align: center;
    line-height: 40px;
}


/*结构型选择器  选择当前目标元素的下一个相邻的元素*/
.wjs_header > .container > .row > div + div {
    border-left: 1px solid #ccc;
}

/*结构型选择器， 选择当前目标元素的后面的所有同类型元素*/
/*.wjs_header > .container > .row > div ~ div {*/

/*}*/

.wjs_header a {
    color: #666;
}


/*手机微金所*/
.wjs_app {
    color: #666;
    z-index: 1001;
    position: relative;
    display: block;
    height: 100%
}
.wjs_app > img {
    display: none;
}
.wjs_app:hover {
    color: #666;
    text-decoration: none;
}

.wjs_app:hover > img {
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -60px;
    border: 1px solid #ccc;
    border-top: none;
}

.wjs_header .btn_register {
    color: #fff;
    background: #e92322;
    padding: 3px 15px;
}

.wjs_header .btn_register:hover {
    background: #e92322;
    border-color: #e92322;
}

.wjs_header .btn-link {
    color: #666;
}

.wjs_header .btn-link:hover {
    color: #666;
    text-decoration: none;
}


/*导航条
自定义自己的导航条
*/

.wjs_nav {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}


/*定义字体的颜色和大小*/
.wjs_nav .wjs_icon_logo {
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: #e92322;
}

.wjs_nav .wjs_icon_word {
    font-size: 36px;
    line-height: 36px;
    vertical-align: middle;
    color: #000;
}

.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_nav .navbar-text {
    color: #777;
}
.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.wjs_nav .navbar-link {
    color: #777;
}
.wjs_nav .navbar-link:hover {
    color: #333;
}
.wjs_nav .btn-link {
    color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}


 /*轮播图样式*/

.wjs_banner .carousel-inner .item a.img_pc {
     display: block;
     width: 100%;
     height: 410px;
     /*background: url("../images/slide_02_2000x410.jpg") no-repeat;*/
     background-size: cover;
     background-position: center center;
 }

.wjs_banner .carousel-inner .item a.img_mobile {
    width: 100%;
    display: block;
}
.wjs_banner .carousel-inner .item a.img_mobile img {  /*bootstrap 默认图片3px间隙去掉*/
    width: 100%;
}



















